:root {
  --color-surface: 255 255 255;
  --color-surface-elevated: 250 250 250;
  --color-text: 24 24 27;
  --color-text-muted: 82 82 91;
  --color-border: 228 228 231;
  --color-accent: 37 99 235;
  --color-danger-border: 254 202 202;
  --color-danger-surface: 254 242 242;
  --color-danger-text: 153 27 27;

  --chart-missing: 212 212 216;
  --chart-other: 161 161 170;
  --chart-esc-winner: 235 25 25;
}

.dark {
  --color-surface: 9 9 11;
  --color-surface-elevated: 24 24 27;
  --color-text: 250 250 250;
  --color-text-muted: 161 161 170;
  --color-border: 39 39 42;
  --color-accent: 96 165 250;
  --color-danger-border: 127 29 29;
  --color-danger-surface: 69 10 10;
  --color-danger-text: 254 202 202;

  --chart-missing: 63 63 70;
  --chart-other: 161 161 170;
  --chart-esc-winner: 255 55 55;
}
